/* Vadim Truhanov vt24011 */
/* TODO: red text of nav bar */
@import url('https://fonts.googleapis.com/css2?family=Lexend+Exa:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lexend+Exa:wght@100..900&display=swap');

body {
    margin: 0px;
}



:root {
    font-family: 'Lato', 'Times New Roman', Times, serif;
    font-size: 16px;

    --color-red: rgb(205, 29, 46);
}

h3 {
    padding: 0px;
    margin: 0px;
}

p {
    padding: 0px;
    margin: 0px;
}

a {
    color: black;
    text-decoration: none;
}

.title-text {
    font-family: 'Lexend Exa', 'Times New Roman', 'Times', serif;
    color: black;
    font-size: 16px;
    text-transform: uppercase;
    margin: 12px;
}

.big-text {
    color: black;
    font-size: 48px;
    margin: 12px;
}

.text-normal {
    color: black;
    font-size: 16px;
}

.small-text {
    color: black;
    font-size: 11px;
}

.white-text {
    color: white;
}

.red-text {
    color: var(--color-red);
}



.header-top {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    width: 90%;
    margin-inline: 5%;
}

.header-top > .title {
    text-transform: uppercase;
    color: #3a3328;
}

.header-top > .search-box {
    width:  60%;
}

.header-top > .search-box > input {
    border-radius: 25px;
    border: 2px solid black;
    padding: 20px;    
    width: 100%;
}

.header-top > .links {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    width: 6%;
    gap: 20px;
}

.header-top > .links > a:hover {
    opacity: 0.7;
}



.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    width: 90%;
    margin-inline: 3%;
    list-style-type: none;
}

.nav-bar > li > a {
    text-transform: uppercase;
    color: #3a3328;
}

.nav-bar > .no-sub-menu:first-child > a {
    color: green;
}

.nav-bar > .no-sub-menu:last-child > a {
    color: var(--color-red);
}

.nav-bar > .has-sub-menu {
    position: relative;
    display: inline-block;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-inline: 8px;    
}

.sub-menu {
    display: none;
    flex-direction: row;
    gap: 32px;
    position: absolute;
    left: 0px;
    top: 40px; 
    right: auto;
    background-color: rgb(99, 82, 67);
    min-width: 160px;
    width: 400px;
    padding: 12px 16px;
    z-index: 1;
    color: white;
}

.col-1 
.col-2 {
    width: 50%;
}

.open-left {
    left: auto;
    right: 0px;
}

.sub-menu > li {
    color: white;
}

.has-sub-menu:hover {
    background-color: rgb(99, 82, 67);
    
}

.has-sub-menu:hover a {
    color: white;
}

.has-sub-menu:hover .sub-menu {
    display: flex;
}

.sum-menu-list {
    list-style: none;
    padding: 0px;
}

.sum-menu-item {
    padding-top: 8px;
    padding-bottom: 8px;
}



#returns {
    background-color: rgb(99, 82, 67);
    text-align: center;
    margin-top: 10px;
    margin-inline: 15%;
    margin-bottom: 10px;
    border-radius: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-inline: 23%;
}



#discounts {
    display: flex;
    flex-direction: row;
    width:100%;
    justify-content:stretch;
    align-items: stretch;
}

#discounts > .section-col {
    width: 50%;
}

#discounts > .section-col > img {
    width: 100%;
    height: 100%;
}

#discounts > .discount-ad {
    background-color: rgb(192,176,161);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align:center;
}

.buttons {
    margin-top: 15px;
    margin-bottom: 40px;
}

.buttons > a {
    border: 1px solid black;
    border-radius: 25px;
    margin-inline: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-inline: 25px;
    transition: box-shadow 0.3s ease;
}

.buttons > a:hover {
    box-shadow: 10px 10px 20px rgba(36, 36, 36, 0.5);;
}

.sale-card > .buttons > a {
    margin-top: 15px;
    margin-bottom: 40px;
    border-color: white;
}

.sale-card > .text-normal {
    margin-top: 20px;   
    margin-bottom: 30px;
}

.sale-card {
    background-color: var(--color-red);
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
}



#footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

#footer > .footer-col {
    background-color: rgb(192,176,161);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-inline: 30px;
}

#footer > .footer-col.left-col {
    flex-grow: 2;
    text-align: end;
}

#footer > .footer-col.middle-col {
    flex-grow: 1;
    text-align: center;
}

#footer > .footer-col.right-col {
    flex-grow: 2;
    text-align: start;
}



.product-list {
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    flex: 1 1 auto;
    justify-content: stretch;
    width: 100%
}   

.product-group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1 1 auto;
    justify-content: stretch;
    width: 50%
}

.product-card {
    width: calc(100%/3);
}

.product-image {
    position: relative;
}

.product-image > img {
    width: 100%;
    object-fit:scale-down;
}

.product-image > .image-text {
    position:absolute;
    bottom: 8px;
    right: 2px;
    background: rgb(99, 82, 67, 0.7);
    padding: 10px;
    border-radius: 25px;
    color: white;
}

.product-title {
    margin-top: 3px;
    margin-bottom: 3px;
}

.product-price {
    font-weight: bold;
    margin-top: 3px;
    margin-bottom: 3px;
}